<div class="container">
    <div class="content">
        <div class="lang">
            <p>Bahasa Indonesia</p>
        </div>
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Drama-icon.png" alt="icon">
        </div>
        <form class="form">
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button type="submit">Register</button>
            <div class="wrap-already-register">
                <p class="already-register" (click)="goToLogin()">Already have an account? Login</p>
            </div>
        </form>
        <div class="footer">
            <p>Kutipan</p>
        </div>
    </div>
</div>